[2019-03-08 22:07] adiltonvalaszek opened #1 "How to read incoming messages"
Hi, I would like to know how I can read the received messages?

[2019-03-09 18:47] adiltonvalaszek commented on #1
I solved adding Handler in the helper. I'm closing this issue.

[2019-03-09 18:48] #1 closed

[2019-04-10 13:33] sthales commented on #1
@adiltonvalaszek can you share your solution?

[2019-04-11 13:20] breadpanz opened #2 "Receive and echo using WAMessageText Helper"
I a newbie in go so, please bear with me.
I would really appreciate if we can add the message handler in the helper, like how he does with this one #1 cause, I was confused when there's an incoming message how can I trace if It is in the specific JWT Claims.

[2019-04-11 16:03] dimaskiddo commented on #2
I think you can see the other repositories where it's become a bot-like for whatsapp in [go-whatsapp-cli](https://github.com/dimaskiddo/go-whatsapp-cli), mostly it solved by attaching a handler to the whatsapp connection (wac), more example how to echo message can also found in [go-whatsapp](https://github.com/dimaskiddo/go-whatsapp) examples

[2019-04-11 16:06] dimaskiddo commented on #1
You can see the examples in [go-whatsapp-cli](https://github.com/dimaskiddo/go-whatsapp-cli) or the [go-whatsapp](https://github.com/dimaskiddo/go-whatsapp) package it self about echoing a message

[2019-04-12 01:54] breadpanz commented on #2
wow thank you very much I miss this repo so, I guess this will solve everything [go-whatsapp-cli](https://github.com/dimaskiddo/go-whatsapp-cli).

[2019-04-12 01:54] #2 closed

[2019-04-12 10:09] breadpanz opened #3 "Error in Sending Message"
`error processing data: received invalid data`

The error above shows whenever I tried to send a message though, It's successful

[2019-04-12 20:35] dimaskiddo commented on #3
Yups i think this is caused by not filtering a message that come from the current JID it's self, make sure to not read your own message in handler, and i still bypass this error in go-whatsapp-cli since it has a test mode, that make only listen and read from the same JID

May be you can try the echo example in go-whatsapp package, since this error message is related with the go-whatsapp handler

[2019-04-13 04:19] breadpanz commented on #3
Opps. I see. Thanks mate! The error message came from the go-whatsapp handler itself.

link with this issue: https://github.com/Rhymen/go-whatsapp/issues/125

[2019-04-13 05:50] dimaskiddo commented on #3
I have used the stable commit version from Rhymen/go-whatsapp, and i think the issues still there or may be as i said before it's caused by the handler reading it's own sended data, since it's handling data reading from whatsapp server, you can check it in read.go file

So, can i close this issue or leave this as reference to Rhymen/go-whatsapp?
I think SchulteMK will try to fix or investigate thi

[2019-04-13 08:00] breadpanz opened #4 "problem in setting CORS in routerCORS"
It must be w.Header().Set() instead of r.Header.Set()

In line 76 : https://github.com/dimaskiddo/go-whatsapp-rest/blob/master/service/router.go

[2019-04-17 05:43] dimaskiddo commented on #4
Thank's for checking it ;)
I reaaly appreciate it

Issue has been fixed in commit [e3fad06](https://github.com/dimaskiddo/go-whatsapp-rest/commit/e3fad06be49e0ba31e0fdca6281e56c2c71e3a9c), clossing this issue

[2019-04-17 05:43] #4 closed

[2019-04-22 05:54] #3 closed

[2019-04-23 19:34] sthales opened #5 "Problems getting chats"
With the Chats func (contact.go - Chats()) I was able to get the list of chats with contact names etc. but it works only with iOS, when I log in using Android, it returns "null".
Does anyone know how can I get the chat list on all platforms?

[2019-04-24 16:16] dimaskiddo commented on #5
It seems more related to [Rhymen/go-whatsapp](https://github.com/Rhymen/go-whatsapp), you might need to move this issue there, and i think currently it's not fully supported, or may be go-whatsapp team have more detail about it

Thank's

[2019-04-29 11:55] #5 closed

[2019-06-05 20:06] iileandro opened #6 "error decoding login resp: json: cannot unmarshal array into Go value of type map[string]interface {}"
Anything wrong with the backend api? Today all my requests are receiving this:

{"status":false,"code":500,"message":"Internal Server Error","error":"error decoding login resp: json: cannot unmarshal array into Go value of type map[string]interface {}\n"}

[2019-06-05 20:56] iileandro commented on #6
Until yesterday everything was OK. I've debugged. Look on the image below what we have on response, before the error is thrown:

![shot](https://user-images.githubusercontent.com/17341676/58989894-26bc0080-87bb-11e9-8868-0ea7c63b5a4a.png)

[2019-06-06 03:42] iileandro commented on #6
I discovered the cause of the problem. In the vendors libs, the fork you made  from https://github.com/Rhymen/go-whatsapp, in conn.go you call wss://w{n}.web.whatsapp.com/ws , where {n} is a random int between 1 and 8. I tried to access the URL https://w3.web.whatsapp.com/ for example, and the QR-Code there doesn't load. I think it's broken. So I removed this subdomain (only wss://web.whatsapp.com

[2019-06-07 03:04] dimaskiddo commented on #6
Thanks for the issues update, i'll try to update the base library then 🙏

I used the w{n} servers since the main server at web.whatsapp.com sometimes have some issue related to the keepalived connection

Is it stable now when you using the main domain at web.whatsapp.com?

[2019-06-07 07:50] breadpanz commented on #6
@dimaskiddo seems like dimaskiddo/go-whatsapp also need an update from the forked

[2019-06-07 18:05] iileandro commented on #6
yes. It seems to be ok now. I sent a pull request in the base lib. I needed to merge the readme.MD commit from Rhymen/go-whatsapp the commit to the master. For the moment i'm pointing my vendor to my fork to get the fix. When you fix, I will point again to your fork lib.

[2019-06-08 09:28] dimaskiddo commented on #6
@iilleandro thanks for the report, i'll soon push the fixes

@breadpanz i'll still waiting another stable version from Rhymen since the updates still related or small fixes that keep continous, i'll keep watch the repo, may be i'll try to push the chat update feature

[2019-06-09 11:16] dimaskiddo commented on #6
I'll close this issue, should be fixed in this Commit ID 1851e701e136ee01d0950152c77de2a1eee454a6

[2019-06-09 11:16] #6 closed

[2019-06-12 05:17] iileandro opened #7 "Can't login"
New issue on the base lib:

https://github.com/Rhymen/go-whatsapp/issues/170

New login not working.

[2019-06-12 14:21] iileandro commented on #7
I saw you've fixed the whatsapp version. I'm a little confused tryingo to maitain the fork you made from Rhymen/go-whatsapp. Could you tell me why did you fork it. It's just to help me to understand the fixes.

[2019-06-12 17:26] dimaskiddo commented on #7
Make sure to re run make init, i already update the whatsapp web version

I belive the issue is the whatsapp web version, since last issue you debug also returning update command from the whatsapp server

So i try it and got same issue where login doesn't return any qrCode, updating the whatsapp web version in init command does resolved the issue

The concern using of my own fork is to keep track

[2019-06-12 17:52] dimaskiddo commented on #7
By this Commit ID e66c14d4f67b4a5933b7cab46cb7f56d1edf9106  and updating WhatsApp Web version to 0.3.3328 in Login/Restore session request should fix this issue. Thank's

[2019-06-12 17:52] #7 closed

[2019-06-17 04:26] breadpanz opened #8 "Broadcast a message"
What's the best way to broadcast a message through contacts?

[2019-06-27 08:54] breadpanz commented on #8
https://github.com/Rhymen/go-whatsapp/issues/104#issuecomment-480313023_

[2019-06-28 01:52] sunuazizrahayu opened #9 "undefined: routesInit"
i tried to run with: **go run main.go** and get this error

if i run with **make run**, there's no error showed, but every route show 404 URI not found

[2019-06-28 03:19] breadpanz commented on #9
running main.go only will return many error since it needs to run with all the package connected to it.

every routes means even the index is returning 404? then, I think there's a problem in your config file.

by default the endpoint is like this:

localhost:port/api/v1/whatsapp

[2019-06-28 12:25] sunuazizrahayu commented on #9
i think it must added into README file.
and, what's username on password? when i access auth page it showed auth dialog

[2019-06-29 02:36] breadpanz commented on #9
Well, In my case, It doesn't even matter if @dimaskiddo will put it in README or not since it's kinda self explanatory of how the rest works. btw, you can input any username with the default password in c_auth.go. you also might want to modify it base on your requirement.

[2019-06-29 15:35] sunuazizrahayu commented on #9
thanks @breadpanz !
i hope @dimaskiddo will put them to README and fix about the **routesInit**

[2019-07-27 06:13] dimaskiddo commented on #9
Will be fixed after restructuring to the new codebase, thanks

[2019-07-30 08:44] dimaskiddo commented on #9
Closing this issue should be fixed in 665c1a0

[2019-07-30 08:44] #9 closed

[2019-08-22 02:52] rvp98 opened #10 "Can you help me for installing"
![image](https://user-images.githubusercontent.com/54128956/63482262-7492fb80-c4c2-11e9-95e5-6a02387a557c.png)

i get this error on `make ensure`

[2019-08-29 17:45] dimaskiddo commented on #10
@rvp98 Can you try to use git-bash, since it's in Windows and the Makefile does have an unix or linux command i think it's better to use git-bash

[2019-09-01 13:11] thanstogod123 opened #11 "How to get Chat History?"
Hello can you please add chatHistory function?

[2019-09-24 17:19] kaykyr opened #12 "Set proxy"
Hello! It is possible to set proxy to handle multiple WhatsApp Instances in the same server?

[2019-09-25 20:45] #12 closed

[2019-09-27 12:37] #10 closed

[2019-11-14 07:31] bamjohn2222 opened #13 "Unable to install"
I a trying to do this on my machine but somehow the documentation is not clear to me. I am completely new to GoLang and I also intend on improving the docs for further usage.
Help me run this on my local machine. Thanks

[2019-11-14 07:32] bamjohn2222 commented on #13
Should I simply use git clone url and run or is there anything else needed?

[2020-01-02 16:48] Lucipher opened #14 "api return unauthorized method GET"
call /api/v1/whatsapp/auth?Username=xxx&Password=xxxx
return unauthorized method GET at URI /api/v1/whatsapp/auth

[2020-01-03 10:00] dimaskiddo commented on #14
The auth is using basic auth method, please use basic auth method

username is your phone number as jID and the basic auth password you can find it in the hlp/config.go as there is no override for password in the config file in share/etc/*.yaml file

[2020-01-03 10:01] dimaskiddo commented on #13
You can use git bash if you are using windows and please makesure all dependencies are installed

[2020-01-05 02:04] Lucipher commented on #14
Thanks very much! It works nice.

[2020-01-08 03:14] #14 closed

[2020-01-14 02:07] Lucipher opened #15 "write: connection reset by peer"
error writing to websocket: write tcp 192.168.3.155:36558->160.240.15.53:443: write: connection reset by peer

[2020-01-15 06:35] northbearleung opened #16 "sample of working?"
How to make it work ?
I startup the port 3000 , seems installation completed.
But what's next? it's suppose a websocket server or web server to trigger login Scan QRCODE event ?
I am new to it . sorry for silly question I raised!

[2020-01-25 14:53] Lucipher commented on #15
@dimaskiddo  how to reconnect websocket after websocket error ?

[2020-01-29 13:00] dimaskiddo commented on #15
@Lucipher you can try to reconnect by hitting the login API, it should closed the old connection and created a new one

[2020-01-29 13:02] dimaskiddo commented on #16
@northbearleung swagger as API docs will be integrated soon, currently you need to read the flow by your self first, sorry

[2020-03-27 07:47] saxtorinc commented on #16
ive called /login?

[2020-03-28 14:25] dimaskiddo commented on #16
@saxtorinc Please read again the README.md it has the default Router Base Path, you should read it in the config file

[2020-03-30 06:35] tarikhagustia opened #20 "Implement build on Dockerfile"
i think on Docker file, should add build function

[2020-03-30 07:31] dimaskiddo commented on #20
siaap mas, sekalian mau di perbaiki ada bug sejak WA api memblock beberapa fungsi hehe

[2020-03-30 07:36] tarikhagustia commented on #20
iya, saya juga baru kena pas restart [https://github.com/Rhymen/go-whatsapp/issues/305](https://github.com/Rhymen/go-whatsapp/issues/305)

[2020-03-30 11:48] dimaskiddo commented on #13
Clossing this issue due to no activities or updates, please feel free to reopen this issue

[2020-03-30 11:48] #13 closed

[2020-03-30 11:49] dimaskiddo commented on #15
Clossing this issue due to no activities or updates, please feel free to reopen this issue

[2020-03-30 11:49] #15 closed

[2020-03-30 12:12] dimaskiddo commented on #20
Multistage Dockerfile implemented image also available in dimaskiddo/go-whatsapp-rest, client version also now configurable via config file or environment variables

Thanks 😄

[2020-03-30 12:12] #20 closed

[2020-03-30 14:20] eduscrakozabrus opened #21 "how to add incomming messeges ?"
please get example how to add recive incomming messages?

[2020-03-30 14:25] dimaskiddo commented on #21
Please see another repo that implement message handling
http://github.com/dimaskiddo/go-whatsapp-cli

[2020-03-30 14:29] dimaskiddo commented on #21
Related issues to dimaskiddo/go-whatsapp-rest#1 clossing this issue

[2020-03-30 14:29] #21 closed

[2020-04-19 17:24] renat473 opened #22 "Method API"
Hello,

What method swagger ui test api ?

[2020-04-20 07:34] sicenul opened #23 "not allowed method GET at URI /api/v1/whatsapp/login"
I try your docker and can use the auth endpoint and get the token.

$ docker run -p 3000:3000 gowa

accesing http://localhost/api/v1/whatsapp/auth and using basic auth method can get me the token.
But how to use the other endpoint, such as: whatsapp/login, whatsapp/send/text, etc. Where should I put the token?

Please enlighten me.
Thanks

[2020-04-24 20:56] dimaskiddo commented on #23
Auth endpoint is used to get the JWT Token, so in order to use the token please make sure you are using Bearer <TOKEN> in Authorization Header

For the endpoints method you can check it in routes.go file
and It should be POST method

[2020-04-24 20:56] dimaskiddo commented on #22
No swagger yet, but it will have swagger :)

[2020-04-24 20:57] #16 closed

[2020-04-25 07:03] sicenul commented on #23
Great, it work. Now I can logged in using qrcode provided by /login endpoint. But it doesn't return anything, just info on my android that "Last active today at ... Started in .... Go WhatsApp REST".

What's next if I want to use /send/text endpoint?
Can I use postman/insomnia to test it, how?

[2020-05-05 08:23] dimaskiddo commented on #23
I have the Postman collection but it's not for public you migh contact me in private
Or you can wait until swagger doc is integrated

[2020-05-05 08:23] #22 closed

[2020-05-10 13:09] Diden05 opened #24 "I can not send a message via rest, example?"
Hi!
How do i:
Send GET /api/v1/whatsapp/auth
Authorization Basic

I get a token

Send Post
/api/v1/whatsapp/login
Authorization Bearer
I get a QR pic, scan QR on mobile app

Send Post
POST http://172.16.0.101:3000/api/v1/whatsapp/send/text?msisdn=79143720232@s.whatsapp.net&message=test&quotedid=0&quotedmsg=0&delay=10
Accept: application/json
Cache-Control: no-cache
Authorization: Bearer eyJhbGciOi

[2020-05-10 15:22] dimaskiddo commented on #24
it's mean the connection to the WhatsApp WebSockt is not established correctly and the connection is not found in the array, can you try to hit the /login API again?

and for the additional information currently WhatsApp Client version has been updated i think you also need to adjust it, otherwise sometime the connection is failed

[2020-05-10 15:46] Diden05 commented on #24
Yes, I tried several times, always the same

but where to do it?

[2020-05-10 16:31] Diden05 commented on #24
Changing the version to 0.4.2081 did not help :(

[2020-05-10 20:24] dimaskiddo commented on #24
I just try the docker version and it seems normal, message got sent correctly
can you try the docker version or please check again your postman

it's using post method with x-www-url-encoded form and it has 2 required field msisdn as destination number and the message text

By the way i think you need to debug your JWT token since it's holding your connection ID, invalid connection means it can't

[2020-05-10 20:27] dimaskiddo commented on #24
The /auth endpoint will generate the JWT Token based on your Phone Number (without WhatsApp Postfix) and the Basic Auth password (the default one i think you already found it on the hlp/config.go)

Please make sure you already done it correctly, thanks

[2020-05-11 09:46] Diden05 commented on #24
Thanx,

I left only the phone number in Basic token, received JTW, I considered QR, I try to send a message - again an error. Also using docker :(
It's bad that I do not understand how to debug this :(

{"label":"http-access","level":"info","msg":"access method POST at URI /api/v1/whatsapp/login?timeout=90","service":"go-whatsapp-rest","time":"2020-05-11T16:38:32.096537389+07:00"}

{"label":"whats

[2020-05-11 12:50] Diden05 commented on #24
I don’t know why, but it worked, although I did not change anything in the code. Thank.

[2020-05-11 12:50] #24 closed

[2020-05-11 18:52] Diden05 opened #25 "Error, I can not send the picture."
Hi!
Trying to send a picture,
'Content-Type: multipart/form-data'

    $fields = [
        'msisdn'=> $_REQUEST['msisdn'] . '@s.whatsapp.net',
        'message'=> $_REQUEST['message'],
        'image' => new \CurlFile('C__fakepath_shampinony-7.png', 'image/png', 'filename.png')
    ];
    $cURLConnection = curl_init('http://172.16.0.101:3000/api/v1/whatsapp/send/image');
    curl_setopt($cURLConne

[2020-05-11 18:59] Diden05 commented on #25
same thing when trying to send audio
    [error] => audio upload failed: upload responsed with %!d(float64=404)

[2020-05-11 20:03] sthales commented on #25
https://github.com/Rhymen/go-whatsapp/pull/317

[2020-05-12 03:51] sicenul commented on #23
Is it for free? :smiley:
How can I contact you in private?

[2020-05-12 10:50] Diden05 commented on #25
Will there be an update to the version of the library used?

[2020-05-12 12:28] sherazlodhi opened #26 "Getting a strange response when using send/text"
What can be the reason that I get this response when I try to send a message?

    {
    "status": true,
    "code": 200,
    "message": "Success",
    "data": {
        "msgid": "ERROR"
    }
    }

[2020-05-12 12:45] sherazlodhi commented on #26
This was happening because i was using "+" before the msisdn you should only enter the number without "00" or  "+"

[2020-05-12 12:45] #26 closed

[2020-05-12 19:12] dimaskiddo commented on #25
Yes, will be updated soon @Diden05
Thanks @sthales for the information of updated logic for media content 👍

[2020-05-12 19:15] dimaskiddo commented on #23
Yes it's free, but you need convince me about what do you use it for 😄

[2020-05-14 19:09] Diden05 opened #27 "Add status message to API?"
Hi!
Is it possible to add receipt of message status via API, sent, received, read ...

[2020-05-16 21:06] Diden05 commented on #27
Understood, this is not a question for you. pardon.

[2020-05-16 21:06] #27 closed

[2020-05-18 22:08] gutoscherer opened #28 "How to get a GroupId?"
Hi,

I'm trying to send messages to a specific group, but I need a groupId, like 55XXXXXXXXXX-XXXXXXXX@g.us, but I don't know how to get this Id. Can you help me?

Thanks

[2020-06-01 16:45] dimaskiddo commented on #28
It will be little bit hard but GID is combination between user JID and Timestamp of created group in Unix Timestamp

The solution is by adding handler listener to get or read the messaged from the group, or if the group was created by your self then may be you can use the combination as i said before

[2020-06-01 16:46] dimaskiddo commented on #23
I closed this issue due to inactivity
Feel free to open back this issue

[2020-06-01 16:46] #23 closed

[2020-06-01 16:47] dimaskiddo commented on #11
Will be added later need memory better memory management, since it will cache all chat messages

[2020-06-01 16:49] dimaskiddo commented on #8
I'am sorry but thanks for refering the posible method 👍
May be latter can be inserted as an API Feature 😄

[2020-06-01 17:40] dimaskiddo commented on #25
Sorry for the late response all, this bug just closed by the update of commit f484142

[2020-06-01 17:40] #25 closed

[2020-06-01 21:53] gutoscherer commented on #28
Thanks @dimaskiddo, I made it reading a message in the group and getting the infos.

[2020-06-01 21:53] #28 closed

[2020-06-03 09:19] Diden05 opened #29 "Functionality Extension"
Are there plans for the implementation of sending a contact and preview links?

[2020-09-02 07:03] arisawali2014 opened #30 "HandleMessages"
is there a way to make handle messages?

[2020-09-04 02:26] dimaskiddo commented on #30
@arisawali2014 i split the example to the other repository to be a bot like in [dimaskiddo/go-whatsapp-cli](https://github.com/dimaskiddo/go-whatsapp-cli), may be you can see it there

[2020-09-04 02:46] arisawali2014 commented on #30
the thing is how to append into the route?

[2020-09-04 02:58] irvanrahadhian commented on #30
@arisawali2014 if what you want is to handle incoming message, you can try to add handler at helper, or you can see the example at the other repo just like @dimaskiddo said.

[2020-09-04 09:46] dimaskiddo commented on #30
@arisawali2014 handlers run in connection levels, it's attached to it. So if you want to integrate it in route may be you can integrate in helper code at log in function

@irvanrahadhian thanks for helping to explain :smile:

[2020-09-27 10:32] #30 closed

[2020-10-05 06:52] ibnux opened #31 "Always logout"
so after trying and running, it seems every 3 days need to scan barcode
how to make session never expired?

i try using cronjob, every 1 hour will send message, and still logout every 2-3 days

[2020-10-05 14:46] irvanrahadhian commented on #31
Hey i have the same issue like this, but only re scan when the client doesn't have internet access (or bad internet connection) and trying to re loggin again.

the longest client and bot working and running is 1 week.

[2020-10-05 16:46] dimaskiddo commented on #31
it's because of bad connections so the websocket connections is terminated.
Current best way is to check if gob sessions file still valid, if it's valid then you can integrate internal go-cron to relogin all saved sessions by calling the relogin functions, there is a pull request of it but currently i'am not merging it due to some my internal conecern

[2020-10-06 14:11] ibnux commented on #31
i see that, when i get this error

then the session will be deleted, and need to relogin
the logic is delete file session then request again, and that when request failed, the session file already deleted

but i am not expert with Rhymen/go-whatsapp package, so i think that should be like that, because Dimas create like that :D

[2020-10-06 14:28] dimaskiddo commented on #31
I'll added connection HandleError Handler (this might help to resolve issue of websocket error in case of unstable connection) later, but need help for testing if you don't mind sir @ibnux and sir @irvanrahadhian hehe

[2020-10-06 14:50] ibnux commented on #31
Oke, no problem

I use this project for broadcasting message to RT residents 😀

And for chatbot using botlibre, if someone reply the message 😂

Temporary fixing I commented os.Remove at hlp/libs/whatsapp.go except at logout function

[2020-10-06 15:07] irvanrahadhian commented on #31
Oke and thank you Mas @dimaskiddo

[2020-10-07 12:19] dimaskiddo commented on #31
Thanks everyone for helping me to test this,
I've commit the HandleError Handler by commit with id adf8d41

I'am sorry if there some directory changes, so it might be need for you to refork the repo :pray:
Thank's and i hope this work to solve the issue

[2020-10-09 00:44] tarikhagustia opened #32 "Restore session after application restart"
Hi, @dimaskiddo looks like you have updated this repository again, nice work !
anyway do you have an idea to restore all session when application restarted?

[2020-10-09 02:34] dimaskiddo commented on #32
Thank's @tarikhagustia 😄

It's really possible @rosseti has a good pull request about it, but i'am pending it for a long-long time until it's conflicting with my own update 😢 . Because i need to think about the pros and cons also in the security concern

[2020-10-09 15:52] ibnux commented on #31
Thanks @dimaskiddo for your hard work 👍🤝
merging not much conflict, and directory follow your update

[2020-10-09 15:52] #31 closed

[2020-10-09 15:55] ibnux commented on #8
i use php script for brodcasting
it will send message one by one from database to the API

[2020-10-13 08:56] irvanrahadhian opened #33 "Can't send image"
Hello mas @dimaskiddo , I'm having issue that i can't send images through the endpoint send image.
Got timeout error when post to https://mmh.whatsapp.net/mms/image

here is the error log :

`send image upload failed: Post "https://mmh.whatsapp.net/mms/image/oe0QfWAk_hk3BTVDpkXvO9wGyicJ58J3R_Y_LS2wPQA=?auth=AWSzkeJZKt6eLarpXISRavMOmksci9p2GggXFmg03Bpbq8QKHqzviNZqz2c&token=oe0QfWAk_hk3BTVDpkXvO9wGy

[2020-10-16 03:04] dimaskiddo commented on #33
@irvanrahadhian i think it's your DNS or Connection problem, make sure it's ok to connect there or the DNS is resolved. I'll also check on my side

[2020-10-16 03:05] dimaskiddo commented on #8
Thank's for the info pak @ibnux 😄

[2020-10-16 08:33] irvanrahadhian commented on #33
Oke solved @dimaskiddo , you're right its the Connection problem from my cloud server. btw thank for the updated code, so far it's going smooth without having disconnected and have to rescan. great work

[2020-10-16 08:33] #33 closed

[2020-10-16 11:30] the-jojo-jj opened #34 "stuck at /go-whatsapp-rest/api/seed/seeder.go:56"
(/go-whatsapp-rest/api/seed/seeder.go:56)
[2020-10-16 18:28:59]  [1.12ms]  INSERT INTO `users` (`email`,`password`,`created_at`,`updated_at`) VALUES ('admin@root.com','$2a$10$2/VNwnFSNizBDNdu6APuLeKTi8RFsDCNCqPUoOioDVGWmylbodqba','2020-10-16 18:28:59','2020-10-16 18:28:59')
[1 rows affected or returned ]

[2020-10-16 11:32] the-jojo-jj commented on #34
anyone had a same problem? @dimaskiddo maybe know what is going on?

[2020-10-16 12:31] dimaskiddo commented on #34
I think you use the fork version which is integrated to database or something.
So i think you should as to the maintainer of it's fork, since in my repository it's not having database integration yet.

So sorry i need to close this issue 😄

[2020-10-16 12:31] #34 closed

[2020-10-16 12:34] dimaskiddo commented on #33
Thanks for testing it. Nice to know if it's work well 😄

[2020-10-16 15:21] the-jojo-jj commented on #23
yes, plasa share the Postman collection.

[2020-10-16 15:21] the-jojo-jj commented on #23
yes, please share the Postman collection.

[2020-10-17 02:39] the-jojo-jj commented on #33
@irvanrahadhian @dimaskiddo hi guys, since im very new at golang, would you guys help me please with postman to send txt and image?

i've manage to login and scan qr, but have no clue what is next.
thanks.

[2020-10-20 08:17] dimaskiddo commented on #33
@the-jojo-jj please explain with well your usage of this source code if you need the postman, there are not permitted to sell this source code

[2020-10-20 13:25] the-jojo-jj commented on #33
Actually,  We are building a public information system through WhatsApp to help people during this Covid period manage queues. We need a send image to send qrcode like this http://rsudalihsan.jabarprov.go.id/assets/uploads/2018/08/qqrcode_768.png.

Please help.

[2020-10-22 15:16] dimaskiddo commented on #33
Sorry instead continuing this issue for non related topic, you can mail me then explain what do you want to do included the scenario.
But for some ot the week i'll be really slow response, cause there's also another gov project in my office that needs to be done.
Thank's @the-jojo-jj

[2020-11-17 18:08] wagnerfillio opened #35 "Disconnecting the device and the lifetime of the token"
@dimaskiddo,

Sign in successfully

I retrieved the qrcode and read it with the mobile device.

I sent the message successfully!

But then I was disconnected.

My question is:
How do I not get disconnected?

What is the lifetime of the token, where can I set a time for it?

Another question is how do I change the customer's name, which appears in the device's Whatsapp settings.

[2020-11-30 07:59] dimaskiddo commented on #35
Hai @wagnerfillio token lifetime is defined as configurable options in yaml file, you can see for the variable name in pkg/server/config.go the default is only for 24h

[2020-12-06 04:14] sicenul opened #36 "Persistence docker volume"
Hello,
1. Which path should I use to make persistence data when I use docker version?
2. Which path can be use to persistence the session, so I don't have to re-login when the docker restart?

Thanks in advance

[2020-12-06 22:44] sicenul opened #37 "healthcheck is unhealthy"
Hello,
My docker status is unhealthy, but I can send message successfully and without any problem.
Why is it unhealthy?
[code]

[2020-12-11 16:17] dimaskiddo commented on #35
I'am clossing this issue due to no next discussion, please feel free to re open.
Thanks

[2020-12-11 16:17] #35 closed

[2020-12-11 16:18] dimaskiddo commented on #36
@sicenul You can read the Dockerfile it explain where the volumes should be mounted

[2020-12-11 16:19] dimaskiddo commented on #37
@sicenul I'll try to recheck, meanwhile may be you can make sure that you already using the latest image or source code

[2020-12-13 20:21] dimaskiddo commented on #36
"/usr/app/config/stores" => to store session files
"/usr/app/config/uploads" => for temporary store uploaded / sent files

[2020-12-15 01:12] sicenul commented on #37
FYI, I already use the latest source code.

[2020-12-15 14:11] sicenul commented on #36
Thank you for your response.
I have successfully execute docker with the following command:
[code]
And everything is working as expected, I can send wa message successfully.

But, if I restart the docker, I have to relogin again (rescan the qrcode), and the folder "../userdata/stores" is always empty.

Please confirm:
1. Did I do something wrong? because folder "stores" is always empty.
2. Did the

[2020-12-22 13:52] dhruvsaraiya commented on #16
Have you added API docs?

[2021-01-14 12:45] dimaskiddo commented on #36
https://github.com/dimaskiddo/go-whatsapp-rest/blob/d6a00a048d98298c894d12e2853d9e1b0c9f71ab/config/production.yaml#L5-L6

Based on the configuration it should write to that folder, please make sure your local folder is writable from container side

[2021-01-14 12:47] dimaskiddo commented on #16
@dhruvsaraiya not yet, i still have a lot of works to do. Sorry

[2021-01-14 12:51] dimaskiddo commented on #37
Okays i see this, sorry for slow response

[2021-01-23 18:17] baddwin opened #38 "panic: runtime error: invalid memory address or nil pointer dereference"
Halo mas, saya belum belajar banyak di golang, mohon bantuannya, ada kejadian error saat memanggil route login beberapa kali secara cepat berurutan

[code]

[2021-01-23 22:52] norazlan commented on #38
try delete these lines and run/build again: https://github.com/dimaskiddo/go-whatsapp-rest/blob/d6a00a048d98298c894d12e2853d9e1b0c9f71ab/pkg/whatsapp/whatsapp.go#L237-L241

[2021-01-25 05:07] ibnux commented on #16
@dimaskiddo can you enable the discussion in this repo, so people who only ask, not the issue can discuss in there

[2021-01-26 16:41] dimaskiddo commented on #38
it's known bug as a race condition sometimes happened when multi login is used. The error shown because wac[jid] is containing null memory reference, since may be the connection has been lost or something else. You can follow @norazlan recommendation if you like by disabling "Ping" test to WA Server

[2021-01-26 16:44] dimaskiddo commented on #37
@sicenul i already test but not yet push the fix, can you help me to try build the Docker images by changging this line
https://github.com/dimaskiddo/go-whatsapp-rest/blob/d6a00a048d98298c894d12e2853d9e1b0c9f71ab/Dockerfile#L31

to be something like this
`HEALTHCHECK --interval=5s --timeout=3s CMD ["sh", "-c", "curl http://127.0.0.1:3000${PRODUCTION_ROUTER_BASE_PATH}/health"] || exit 1`

An try to

[2021-01-26 16:46] dimaskiddo commented on #16
Pak @ibnux will try to enabling it

[2021-01-29 10:38] sicenul commented on #37
great thanks, it worked and PR sent. I'm closing this.

[2021-01-29 10:38] #37 closed

[2021-01-29 11:21] sicenul commented on #36
Based on Dockerfile volumes:
https://github.com/dimaskiddo/go-whatsapp-rest/blob/d6a00a048d98298c894d12e2853d9e1b0c9f71ab/Dockerfile#L33

And production.yml:
https://github.com/dimaskiddo/go-whatsapp-rest/blob/d6a00a048d98298c894d12e2853d9e1b0c9f71ab/config/production.yaml#L5-L6

So my understanding is, I have to mount those folder on container side (based on Dockerfile) to my local folder (based

[2021-01-29 14:46] dimaskiddo commented on #36
let me check it again, so sorry

[2021-02-02 12:39] umerashraf opened #42 "Connection is Invalid"
Hello, So first i have done a GET request at : **api/v1/whatsapp/auth**.
Authorization Bearer:
Username : 92xxxxxxxxxx
Password: **AUTH_BASIC_PASSWORD**

I received the JWT token in response, Then i used that token in Authorization Bearer in : **api/v1/whatsapp/login**,
I received a QR Code, I scanned it from my whatsapp, and it was fine.
Then i tried **POST** Request to  : **api/v1/whatsapp/send/

[2021-02-05 19:15] baddwin commented on #42
@umerashraf double check the token you pass to the request. I've once got similar issue, and turned out it's just because of incomplete token.

[2021-02-07 13:13] ibnux commented on #42
Sometimes you need to send request to endpoint /login again

[2021-02-10 07:36] hrizal opened #43 "Using modified Rhymen go-whatsapp"
Hi Dimas,

I tried to use the modified Rhymen whatsapp library, but it always refers to the released version.
how do if i want to use the modified WhatsApp library?

Nuhun ah, kamu keren

[2021-02-10 16:34] dimaskiddo commented on #43
Halo @hrizal

you can change any github.com/Rhymen/go-whatsapp reference to your or custom repo (this might be use in internal controller or helper library, recommendation try to use find and grep command), then use make init to reinitialize the go.mod

Sami-sami kang hehe

[2021-02-10 16:35] dimaskiddo commented on #42
and make sure your to change the WhatsApp Client version in:
https://github.com/dimaskiddo/go-whatsapp-rest/blob/948fcc880ffebc381c31c62afa86ff1d31bf6399/config/production.yaml#L21-L23

[2021-02-15 10:17] hrizal commented on #43
go get github.com/Rhymen/go-whatsapp@master

 hehehe, ok, thanks

[2021-02-15 10:18] #43 closed

[2021-02-15 10:21] hrizal commented on #32
i change main.go with ...

package main

import (
	"fmt"
	"log"
	"time"
	"os"
	"os/signal"
	"path/filepath"
	"syscall"

	"github.com/dimaskiddo/go-whatsapp-rest/internal"
	"github.com/dimaskiddo/go-whatsapp-rest/pkg/router"
	"github.com/dimaskiddo/go-whatsapp-rest/pkg/server"
	wa "github.com/dimaskiddo/go-whatsapp-rest/pkg/whatsapp"
)

// Server Variable
var svr *server.Server

// Init Function
fu

[2021-02-24 05:20] dimaskiddo commented on #32
@hrizal it should not to use WASessionConnect function but WASessionConnect for more simple if you only need to restore session from gob file

[2021-04-09 13:38] danielspk opened #44 "Error send first message"
Hello. I see the WASendWithMutex() method use a scope assignment which is not correct:

Original

[code]

Proposal:

[code]

I am right?

[2021-04-14 22:19] dimaskiddo commented on #44
Ah i see...
You should be correct, can you create a pull request?

[2021-04-14 22:30] dimaskiddo commented on #42
Clossing this issue due to inactivity.
Feel free to reopen this issue, thanks

[2021-04-14 22:30] #42 closed

[2021-04-14 22:31] dimaskiddo commented on #38
Clossing this issue due to inactivity.
Feel free to reopen this issue, thanks

[2021-04-14 22:31] #38 closed

[2021-04-15 06:11] Diden05 commented on #38
Maybe it's better to add a check to WATestPing?

[2021-04-15 07:14] dimaskiddo commented on #38
How is the proposal do you have to do that @Diden05 ?

[2021-04-15 12:23] danielspk commented on #44
Yes, this change is made in a development and it works satisfactorily. During the day I create a pull request. Thanks @dimaskiddo

[2021-04-16 04:41] dimaskiddo commented on #44
Thank you so much @danielspk it's has been merged
I'll close this issue then

[2021-04-16 04:41] #44 closed

[2021-05-03 21:30] dimaskiddo commented on #36
Really late response fix, but it's now fixed as in c8a8430
Thank you 🍻

[2021-05-03 21:30] #36 closed

[2021-05-07 06:31] janamcroods opened #46 "Connection automatically lost after an hour"
from last 2-3 months i have experienced strange issue that once scanned QR Code and sending message works till 1-2 hours perfectly but after that it does not works we need to scan again, there is no internet issue there.

whatsapp failed to write message: invalid websocket

{
    "status": false,
    "code": 500,
    "message": "Internal Server Error",
    "error": "connection is invalid"
}

[2021-05-25 15:30] janamcroods opened #47 "audio upload failed: invalid websocket"
Receiving this error
File show sent but not received at other side

[2021-05-25 20:26] #47 closed

[2021-05-25 20:26] janamcroods commented on #47
file was mpeg converted to mp3 and it started delivering

[2021-05-30 07:11] diazzaid opened #48 "akses api"
mas sy mau tanya,
ketika sudah di make run, sy coba akses https://localhost:3000
nah untuk akses api nya bagai mana ya? hehe
sy coba /login
/ auth
statusnya not found..

[2021-05-30 07:39] ibnux commented on #48
Silahkan check bagian diskusi repo ini

Sudah saya tulis cara pakainya

[2021-05-30 07:55] diazzaid commented on #48
oia pa , sudah ada hehe
terima kasih

[2021-05-30 07:55] #48 closed

[2021-06-16 01:23] ArivhaySoft opened #49 "Login error"
{
    "status": false,
    "code": 500,
    "message": "Internal Server Error",
    "error": "error decoding login resp: json: cannot unmarshal array into Go value of type map[string]interface {}\n"
}

[2021-06-19 04:06] dimaskiddo commented on #49
Please upgrade the WhatsApp Client Version in config/production.yaml
https://github.com/dimaskiddo/go-whatsapp-rest/blob/c8a8430e8dd06cf9dfa9502c49b5ba7b2a09ad8d/config/production.yaml#L20-L23

Or config/development.yaml
https://github.com/dimaskiddo/go-whatsapp-rest/blob/c8a8430e8dd06cf9dfa9502c49b5ba7b2a09ad8d/config/development.yaml#L20-L23

[2021-06-25 13:50] punyahenry commented on #49
{"label":"server-http","level":"info","msg":"server master started at pid 24687","service":"go-whatsapp-rest","time":2021-06-25T20:48:14.992171859+07:00"}
{"label":"server-http","level":"info","msg":"server worker started at pid 24687 listening on 0.0.0.0:3000","service":"go-whatsapp-rest","time":2021-06-25T20:48:14.992834039+07:00"}
{"label":"whatsapp-session-init","level":"info","msg":"whatsapp

[2021-06-25 15:13] ibnux commented on #49
@punyahenry are the WhatsApp in the phone is upgraded to latest version too?

[2021-06-25 23:17] punyahenry commented on #49
the issue qr not showing, in store folder no obj files

[2021-06-26 02:04] dimaskiddo commented on #49
@punyahenry at your log it's shown that your configuration still using old WhatsApp Client Version (2.2114.10), please update WhatsApp Client Version in yaml configuration file to the latest WhatsApp Web Version (currently it's 2.213.7)

[2021-06-26 02:06] dimaskiddo commented on #46
@janamcroods pelase make sure your connection is stable, unstable connection will result lost session since WhatsApp Web is using Websocket protocol

[2021-06-26 09:44] punyahenry commented on #49
@dimaskiddo thanks.. now it's working with new version

[2021-06-26 10:35] irvanrahadhian commented on #49
latest version web whatsapp :
WHATSAPP_CLIENT_VERSION_MAJOR: 2
WHATSAPP_CLIENT_VERSION_MINOR: 2123
WHATSAPP_CLIENT_VERSION_BUILD: 7

[2021-06-26 13:06] #49 closed

[2021-07-06 04:33] luannsr12 opened #50 "How can I use this in production?"
How can I use this in production? Another question, is it possible to connect more than one device with this API?

Do you have any documentation to use?

[2021-07-07 20:50] ibnux commented on #50
Check discussion page

I create tutorial

And yes it can use multiple phone number

I already use it for production

[2021-07-17 17:32] dimaskiddo commented on #50
As pak @ibnux says it's already discussion page for how to use this @luannsr12

[2021-07-17 17:32] #50 closed

[2021-07-17 17:33] dimaskiddo commented on #46
Clossed due to inactivity
Feel free to reopen

[2021-07-17 17:33] #46 closed

[2021-07-21 16:32] irvanrahadhian opened #51 "enable send sticker and list message"
Hello Mas Dimas, is theres any plan for implementing sticker or list message type ?
it seems it's already supported in new rhymen-go :D

[2021-08-15 13:05] dimaskiddo commented on #51
Sorry mas @irvanrahadhian for slow response,
If there are metadata or example that i can use it's possible to extend the function, one problem is how to parse the sticker data in the proto function, i need more time to explore this first, if any help or ideas please post in discussion thanks mas @irvanrahadhian

[2021-09-04 13:43] ahmadyusri opened #52 "Error Send Message"
{"label":"whatsapp-error-handler","level":"error","msg":"id axxxx caught an error, message type not implemented","service":"go-whatsapp-rest","time":"2021-09-04T20:38:18.9456114+07:00"}

{"label":"whatsapp-error-handler","level":"error","msg":"id axxxx caught an error, message type not implemented","service":"go-whatsapp-rest","time":"2021-09-04T20:38:19.0144961+07:00"}

{"label":"whatsapp-error-h

[2021-09-07 10:53] dimaskiddo commented on #52
Hello @ahmadyusri can you please more spesific about the error like what endpoint did you hit and the payload that your are trying to send?

[2021-10-05 03:43] dimaskiddo commented on #52
Clossing this issue since no activities or response

[2021-10-05 03:43] #52 closed

[2021-11-02 02:43] ArivhaySoft commented on #49
an error occurs again, how to check the latest version? @dimaskiddo

[2021-11-02 04:27] ArivhaySoft commented on #49
latest version web whatsapp :
WHATSAPP_CLIENT_VERSION_MAJOR: 2
WHATSAPP_CLIENT_VERSION_MINOR: 2142
WHATSAPP_CLIENT_VERSION_BUILD: 12

I use this and it works fine :D

[2021-11-02 04:33] punyahenry commented on #49
Looks good.. thanks.. Anyway how do you get whatsapp client version?

On Tue, Nov 2, 2021 at 11:27 AM ArivhaySoft ***@***.***>
wrote:

[2021-11-02 04:48] dimaskiddo commented on #49
Open your WhatsWeb Desktop and see it in Help -> About

[2021-11-16 12:30] Diden05 opened #53 "Support WA-Multi?"
Hi, do you plan to support this library https://github.com/tulir/whatsmeow?

[2021-11-27 04:51] dimaskiddo commented on #53
Hi, multi-session is already supported long time ago in this repository, the differences is, it is manage by saving the session file seperatedly when you putting a JID / MSISDN on Basic Auth, but in that library tulir has made improvement by saving it into a database like sqlite and of course better handling i think.

So for multi WA session this already supported as it's saved your session sepera

[2021-11-27 07:17] Diden05 commented on #53
The tulir library for other purposes, it uses whatsapp beta (https://faq.whatsapp.com/general/download-and-installation/about-multi-device-beta/?lang=en) which allows you not to keep your phone connected all the time. This is its advantage over whatsapp-go
She is multi-devices, not multi-sessions

[2021-12-06 09:49] dimaskiddo commented on #53
I see, that's why it's need SQLite, to save all data in local. If there are spesific needs that you can give me an example of case may be i can try to implement it, but in different repository may be.

Thanks btw for your information

[2021-12-24 06:09] zainul opened #54 "panic: interface conversion: interface {} is nil, not map[string]interface {}"
got panic after scanning the barcode
[code]
panic code snippet
[code]

[2022-01-06 10:18] dimaskiddo commented on #54
Hai @zainul thank's for the report will try to reproduce the issue. This issue may lead to need an upgrade of Rhymen/go-whatsapp library version

[2022-01-06 10:30] dimaskiddo commented on #54
Hai @zainul i just test with no changes except the WhatsApp Client Version is Upgraded and it work fine, can you mak sure that your connection is stable, some issues are related to the connection

![image](https://user-images.githubusercontent.com/21129987/148368898-673418fd-6323-4e23-8e82-9cef8acc924b.png)
![image](https://user-images.githubusercontent.com/21129987/148369037-26d01e2a-59c1-4a7e-ac

[2022-01-10 07:11] dimaskiddo commented on #54
Closing this issue due to maybe this more related to main library Rhymen/go-whatsapp and cannot reproduce in current state of this repository. Feel free to re-open

[2022-01-10 07:11] #54 closed

[2022-04-01 05:02] ibnux commented on #53
i think this Multi Device Beta has been release, in iphone its been default. Maybe in some next month all Whatsapp Web Client will be Multi Device Feature. and all Unofficial Client need to migrate

[2022-04-12 04:03] punyahenry opened #55 "couldn't dial whatsapp web websocket: websocket: bad handshake"
Hi anyone have facing same issue like this?

{"label":"server-http","level":"info","msg":"server master started at pid 13635","service":"go-whatsapp-rest","time":2022-04-12T10:59:53.042902018+07:00"}
{"label":"server-http","level":"info","msg":"server worker started at pid 13635 listening on 0.0.0.0:3000","service":"go-whatsapp-rest","time":2022-04-12T10:59:53.043223705+07:00"}
{"label":"http-acce

[2022-04-12 13:17] ibnux commented on #55
kadang punya saya kaya gini juga

Koneksi ke WhatsApp kayanya gagal.

Tapi ntar lancar lagi

Coba flush dns atau restart dns lokal.

Coba ping juga ke web.whatsap.com

[2022-04-13 06:46] ibnux commented on #55
sepertinya sudah harus ke Whatsapp baru yang pake multi device. udah ga bisa yang ini

[2022-04-13 11:27] ibnux commented on #55
Solusinya downgrade WhatsApp apk.

Atau pindah ke WhatsApp API lain

Mas Dimas mungkin lagi sibuk, belum sempat pindah ke multidevice.

Ini hasil fork saya, tapi sayangnya ngga bisa multi session

https://github.com/ibnux/go-whatsapp-web-multidevice

[2022-04-15 04:13] dimaskiddo commented on #55
Terima kasih Pak @ibnux mas @punyahenry
Betul seperti yang disampaikan oleh pak @ibnux sebelumnya, dikarenakan WA sudah mulai beralih ke Multi-Device oleh karena itu perlu dilakukan recode dimana kemungkinan akan berpindah ke repository baru

Hal ini dikerenakan cara kerja library lama dengan yang baru dengan support Multi Device sangatlah berbeda, dari mulai event handling bahkan cara berkirim pe

[2022-04-15 04:18] dimaskiddo commented on #53
Agreed Pak @ibnux IOS and Android already Forced to Use WA Multi-Devices event the WhatsApp Desktop already close QR for Old Connection Type and Force it to use The Multi Device One.

There are also alot of advantages when we use Multi Device, but i need to fully recode it, because the library is not backward compatible, it's really new library develop by tulir as one of contributor on Rhymen.

Th

[2022-04-15 04:26] dimaskiddo commented on #55
Bagi yang menggunakan Multi Device library dari tulir dan menginginkan Multi Session itu dapat dilakukan dengan mensplit SQLite file dan Client Connector menjadi sebuah Array Type Struct terlebih dahulu yang mana nanti ID Array dapat digunakan untuk memilih Session mana yang akan digunakan. Secara sederhana mungkin seperti itu

[2022-04-20 15:57] dimaskiddo commented on #55
Currently still in development for multi-device support, check it out
https://github.com/dimaskiddo/go-whatsapp-multidevice-rest

Thanks 😄 ❤️

[2022-04-20 15:57] #55 closed

[2022-04-20 15:57] dimaskiddo commented on #53
Currently still in development for multi-device support, check it out
https://github.com/dimaskiddo/go-whatsapp-multidevice-rest

Thanks 😄 ❤️

[2022-04-20 15:57] #53 closed